<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="Framework" version="3.0">
	<display-name>Framework</display-name>
	<!-- 网站目录键 -->
	<context-param>
		<param-name>WebsiteDirectoryKey</param-name>
		<param-value>website.directory</param-value>
	</context-param>
	<!-- 数据库参数 -->
	<context-param>
		<param-name>WebsiteInstance</param-name>
		<param-value>WebsiteInstance</param-value>
	</context-param>
	<context-param>
		<param-name>WebsiteInstance.Driver</param-name>
		<param-value>oracle.jdbc.driver.OracleDriver</param-value>
	</context-param>
	<context-param>
		<param-name>WebsiteInstance.Url</param-name>
		<param-value>jdbc:oracle:thin:@localhost:1521:r8a092e</param-value>
	</context-param>
	<context-param>
		<param-name>WebsiteInstance.User</param-name>
		<param-value>framework</param-value>
	</context-param>
	<context-param>
		<param-name>WebsiteInstance.Password</param-name>
		<param-value>password</param-value>
	</context-param>
	<context-param>
		<param-name>WebsiteInstance.IdentifierCapital</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>WebsiteInstance.TypeConverter</param-name>
		<param-value>unknown.framework.business.oracle.OracleTypeConverter</param-value>
	</context-param>
	<context-param>
		<param-name>WebsiteInstance.SqlBuilder</param-name>
		<param-value>unknown.framework.business.oracle.OracleSqlBuilder</param-value>
	</context-param>
	<!-- 自定义监听器 -->
	<listener>
		<listener-class>unknown.website.listener.ContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>unknown.website.listener.SessionListener</listener-class>
	</listener>
	<listener>
		<listener-class>unknown.website.listener.RequestListener</listener-class>
	</listener>
	<!-- Struts2筛选器 -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>